@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

* {
  box-sizing: border-box;
  direction: rtl;
}

body {
  background-color: white;
  background-size: cover;
  font-family: "BNazanin", "Nunito Sans", sans-serif;
  height: 100vh;
}

.bording-pass {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 24px auto;
  background: #cb7487;
  max-width: 1200px;
  border-radius: 12px;
  padding: 16px;
}

.bording-pass .card {
  border-radius: 12px;
}

.card.card-top {
  margin-top: auto;
  text-align: right;
}
.bording-pass .card.card-buttom {
  text-align: left;
  border-radius: 0 0 0 0;
}

.bording-pass .card.card-right {
  text-align: center;
  justify-content: space-around;
}

.bording-pass .card.card-right {
  text-align: center;
  justify-content: space-between;
  border-radius: 0 0 0 0;
}

.time {
  font-weight: 800;
}

.city {
  color: #484848;
}

.flight-median {
  position: relative;
  flex-grow: 1;
  top: 6px;
}

.bording-pass .card.card-left {
  border-radius: 0 0 16px 16px;
  flex-grow: 1;
  width: 100%;
}
.card.card-left {
  display: flex;
  flex-direction: column;
}
.bording-pass .card.card-footer {
  margin-inline-start: auto;
  justify-content: space-between;
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.card-price {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 150px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.duration-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}
.source {
  padding: 5px 20px;
  flex-grow: 1;
}
.destination {
  padding: 5px 20px;
  flex-grow: 1;
}
.bold-item {
  font-size: 20px !important;
  font-weight: 700px;
  flex-grow: 1;
}
a {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .bording-pass {
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  .card-price {
    height: 80px !important;
  }
  .time {
    font-size: 18px;
    font-weight: 800;
  }

  .city {
    font-size: 14px;
    color: #484848;
  }
  .sd {
    font-size: 10px;
    color: #484848;
  }
  h3,
  h5 {
    font-size: 14px;
    margin: 0;
  }
  .bording-pass .card.card-footer {
    padding: 10px 0px;
  }
}
@media only screen and (min-width: 768px) {
  .time {
    font-size: 30px;
    font-weight: 800;
  }

  .city {
    font-size: 18px;
    color: #484848;
  }
  * {
    font-size: 16px;
  }
}
.card.card-price {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
