@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Sahel VF;
    src: url("../font/Sahel-VF.woff2") format("woff2");
  }

  html {
    font-family: Sahel VF, system-ui;
    font-size: 0.9rem;
  }
  .footerLinksWrapper {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
  }
  .footerContainer {
    width: 100%;
    background: linear-gradient(304deg, #00a693, #f9f9f9);
  }
  .footerLinksItem {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footerLinksItem li {
    list-style-type: none;
  }
  .contain-footer {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
  }
  .footerLinksItem h3 {
    font-size: 18px;
    font-weight: 500;
  }
  @media only screen and (max-width: 768px) {
    .footerLinksWrapper {
      display: flex;
      flex-direction: column;
    }
  }
}
