@font-face {
  font-family: IranSans;
  src: url(../font/IRANSansXMedium.ttf);
}
* {
  font-family: IranSans;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#payment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerLogin {
  display: block;
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  padding: 80px 32px;
  border-radius: 29px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
  background: #cb7487;
}
.input-payment {
  display: block;
  width: 200px;
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px 5px;
}

.input-Item {
  display: block;
  flex-grow: 8;
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  padding: 0px 5px;
}
.button-login {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
  background: #8e2157;
  color: #fff;
}
#button-payment {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
  background: #8e2157;
  color: #fff;
}
.sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  color: #f0f0f0;
  z-index: 99;
  background: #8e2157;
  text-align: center;
}
body {
  direction: rtl !important;
  text-align: right !important;
}
.content {
  margin-right: 200px;
}
.user-profile {
  border-radius: 50%;
  width: 145px;
}

.tr-content {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.btn-pill {
  border-radius: 30px;
}
.btn-success {
  background: #13bfa6 !important;
  border-color: #13bfa6;
  border: 1px solid;
}
.input-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#input-row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#number-type {
  width: 100px;
  height: 26px;
  margin-top: 13px;
  margin-right: 30px;
}
.container-icon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.my-user {
  flex-grow: 1;
  font-size: 23px !important;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
}
.alert-success {
  position: absolute !important;
  top: 0px;
  right: 0px;
  position: absolute;
  border-radius1px
  background: #a3d599 !important;
}
